
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table>
        <td>
            <tr>Müşteri Şirket Adı</tr>
        </td>
    </table>
</body>
</html>
