@model Supplier
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">

    
    <form asp-action="Create" asp-controller="Supplier">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Company Name</label>
        <div >
            <div class="col-sm-10">
        <input class="form-control" asp-for="CompanyName"/>
        <div >
    <div class="mb-3 row">
        <label>Contact Name</label>
        </div>
        <div class="col-sm-10">
        <input class="form-control"  asp-for="ContactName" />
    </div>
    <div style="margin-top: 5px;">
    <div class="btn-group" role="group" aria-label="Basic example">
    <button  type="submit" class="btn btn-info">Ekle</button>
    </div>
        </div>
</form>
</div>
</div>

