
@model RegisterVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4 mx-auto">
       <div asp-validation-summary="All">

       </div>
        <form method="post" asp-action="Create" asp-controller="User">
            <div class="mb-2">
                <label asp-for="Username"></label>
                <span asp-validation-for="Username"></span>
                <input class="form-control" asp-for="Username"/>
            </div>
            <div class="mb-2">
                <label asp-for="Email"></label>
                 <span asp-validation-for="Email"></span>
                <input type="email" class="form-control" asp-for="Email" />
            </div>
            <div class="mb-2">
                <label asp-for="Password"></label>
                <span asp-validation-for="Password"></span>
                <input class="form-control" asp-for="Password" />
            </div>
            <div class="mb-2">
                <label asp-for="ConfirmPassword"></label>
                <span asp-validation-for="ConfirmPassword"></span>
                <input class="form-control" asp-for="ConfirmPassword"/>
            </div>
            <button type="submit" class="btn btn-primary">Kaydol</button>
        </form>
    </div>
</div>

