
@{
    ViewData["Title"] = "CreateEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
  <div class="form-group">
    <label for="exampleInputText">LastName</label>
    <input type="text" class="form-control" id="exampleInputText" aria-describedby="textHelp" placeholder="Last Name" name="LastName">
  </div>
  <div class="form-group">
    <label for="exampleInputText">FirstName</label>
    <input type="text" class="form-control" id="exampleInputText" aria-describedby="textHelp" placeholder="First Name" name="FirstName">
  </div>
  
    <button type="submit" class="btn btn-primary">Add</button>
</form>

