@model LoginVM

@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col-md-4 mx-auto">
        <div asp-validation-summary="All">
        </div>
        <form method="post" asp-action="Login" asp-controller="User">

            <div class="mb-2">
                <label asp-for="UserName"></label>
                <span asp-validation-for="UserName"></span>
                <input type="text" class="form-control" asp-for="UserName" />
            </div>
            <div class="mb-2">
                <label asp-for="Password"></label>
                <span asp-validation-for="Password"></span>
                <input type="password" class="form-control" asp-for="Password" />
            </div>

            <button type="submit" class="btn btn-primary">Giriş Yap</button>
        </form>
    </div>
</div>